@import '../../global/global.css';


section {
    height: 100vh;
    width: 100%;
    background-color: var(--color-light-gray);
    display: flex;
    padding: 2rem;
}

.coffe-shop {
    height: 100%;
    width: 50%;
    background-color: var(--color-brown);
    display: flex;
}

#left-tables{
    height: 100%;
    width: 50%;
}

#top-tables{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.table{
    height: 10rem;
    width: 10rem;
    background-image: url('../../../images/icones/mesa-padrao.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease; 
    cursor: pointer;
    
}

.mesa-redonda-grande{
    background-image: url('../../../images/icones/mesa-redonda1.png');    
}

.mesa-redonda-pequena{
    background-image: url('../../../images/icones/mesa-redonda-pequena.png');    
}

.table:hover {
    transform: scale(1.1); 
}

#bottom-tables{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 20px;
}

.big-table{
    height: 10rem;
    width: 15rem;
    background-image: url('../../../images/icones/mesa-grande-inferior.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    cursor: pointer;
}

#big-table:hover {
    transform: scale(1.1); 
}


#right-tables{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#reserve {
    height: 100%;
    width: 50%;
    background-color: var(--color-deep-navy);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
}

h1{
    font-family: "Brush Script MT", cursive;
    font-size: 5rem;
    letter-spacing: 3px;
    color: var(--color-golden);
}

#date{
    font-size: 1.2rem;
}

#logo{
    height: 5rem;
    width: 6rem;
    margin-top: 1rem;
}
#title{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
p, h3{
    color: var(--color-white);
}

#table-info{
    height: 6rem;
    width: 80%;
    background-color: var(--color-white);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#left-info h3{
    color: var(--color-brown);
}

#right-info h3{
    color:var(--color-golden)
}

#right-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reserve-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#user{

}

button{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    background-color: var(--color-golden);
    color: var(--color-white);
}

.field-container {
    height: 40px;
    width: 60%;
    position: relative; /* Cria um contexto para o posicionamento absoluto do ícone */
    display: flex; /* Utiliza flexbox para alinha o ícone e o input na horizontal */
    background-color: var(--color-white);
    border-radius: 10px;
}

.field-container input{
    padding-left: 30px; /* Espaço para evitar que o texto do input fique sobre o ícone */
    height: 2rem; /* Ajusta a altura do input, se necessário */
    width: 100%; /* Faz o input ocupar toda a largura do contêiner */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    margin-left: 1rem;
    padding-top: 10px;
    border-radius: 20px;
}

input::placeholder{
    color: var(--color-brown);
}

input:focus{
    outline: none;
}

.field-container i {
    position: absolute; /* Permite posicionar o ícone dentro do input */
    left: 10px; /* Espaço da borda esquerda */
    top: 50%; /* Centraliza verticalmente o ícone */
    transform: translateY(-50%); /* Ajusta a posição vertical do ícone */
    color: var(--color-brown);
}

#time {
    height: 2rem; /* Ajuste a altura do select para combinar com os outros inputs */
    padding-left: 30px; /* Espaço para o ícone */
    width: 100%; /* Faz o select ocupar toda a largura do contêiner */
    box-sizing: border-box; /* Inclui padding na largura total */
    margin-left: 1rem;
    appearance: none; /* Remove a aparência padrão do select (se desejado) */
    border-radius: 20px;
    background-color: var(--color-white); /* Cor de fundo do select */
}

.field-container #time {
    
    height: 100%;
    width: 100%;
    color: var(--color-brown);
}

#time:focus {
    outline: none; /* Garante que o contorno esteja removido no foco */
}
